// 1. Colors
// ---------

$clr-main: #007EB1;
$second-clr: #93C300;
$third-clr: #67808A;

// 2. Fonts
// ---------
$default-font-size: 16;
$ff-second: 'bulletin', 'Roboto', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;