<!doctype html>
<html class="" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Заголовок</title>
    <link rel="stylesheet" href="css/app.css">
  </head>
  <body>
    <div class="visuallyhidden">

			<!-- INTERATTIVA-LOGO > -->
			<svg xmlns="http://www.w3.org/2000/svg" style="width: 0; height: 0; position: absolute; overflow: hidden;">
				<symbol id="interattiva-logo" viewBox="0 0 29 36" >
					<path d="M14.39 35.887L.117 26.683V9.817l14.275 9.206L28.666 9.82v16.863M2.265 9.53L.983 8.703 14.39.057 27.8 8.703l-1.28.827L14.39 1.71"/>
					<path d="M5.056 11.33l-1.283-.826L14.39 3.656l10.618 6.848-1.282.826-9.335-6.02"/>
					<path d="M7.846 13.13l-1.28-.827 7.825-5.046 7.827 5.046-1.282.826-6.544-4.22"/>
					<path d="M10.638 14.93l-1.282-.827 5.035-3.247 5.035 3.247-1.28.826-3.754-2.42"/>
					<path d="M12.146 15.903l2.245-1.447 2.246 1.447-2.245 1.447"/>
				</symbol>
			</svg>
		</div>
    <div class="wrapper">
        <header class="header"><!-- ... --></header>
      {{> body}}
    </div>  
    {{> footer}}
    <script src="js/app.min.js"></script>
  </body>
</html>
