@charset 'utf-8';

@import 'components/fonts';
@import 'components/variables';
@import 'components/mixins';
@import 'components/normalize';

@import 'settings';

@import 'motion-ui';
@import 'foundation';

@include foundation-everything();

@include motion-ui-transitions;
@include motion-ui-animations;

// import plug-ins here

@import "node_modules/slick-carousel/slick/slick.scss";
@import "node_modules/slick-carousel/slick/slick-theme.scss";

html {
    background: #fff;

    @media only screen and (min-device-width: 2300px) { 
        font-size: 18px;
    }
    @media only screen and (min-device-width: 2500px) { 
        font-size: 20px;
    }
}

body { 
    position: relative;
    background: transparent;
}

.wrapper {
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.svg {
    fill: red;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 0;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 0;
    white-space: nowrap; /* 1 */
}



@import 'parts/helpers';
@import 'parts/common';

// @import 'parts/nav';
// @import 'parts/hero';
// @import 'parts/pros';
// @import 'parts/form';
// @import 'parts/contacts';

// @import 'parts/footer';
// @import 'parts/slick-custom';